@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header__inner{
    background-color: #87509c;
    min-height: 600px;
}
.header__navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 57px;
}
.header__menu{
    margin-right: 67px;
    ul{
        display: flex;
        padding-left: 0;
    }
    li{
        text-transform: uppercase;
        padding: 3px 16px;
        & + li{
            margin-left: 24px;
        }
    }
    a{
        color: #fff;
        font-weight: 400;
    }
    li:hover{
        background-color: #643a79;
        border-radius: 4px;
    }
}
.logo{
    margin-left: 40px;
}

.header__text{
    text-align: center;
    font-size: 42px;
    line-height: 49px;
    color: #fff;
    font-weight: 700;
    max-width: 907px;
    margin: 140px auto 60px;
}
.header__btn{
    text-align: center;
    background-color: #eb7d4b;
    padding: 22px 0;
    max-width: 290px;
    margin: 0 auto;
    border-radius: 4px;
    a{
        color: #fff;
        font-weight: 600;
    }
}

// section
.services__inner{
    padding-top: 120px;
    min-height: 750px;
    background-color: #17c2a4;
    color: #fff;
    align-items: center;
    text-align: center;
}
.services__title{
    text-align: center;
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    padding-bottom: 22px;
    position: relative;
    margin-bottom: 22px;
    &:after{
        content: '';
        width: 86px;
        height: 4px;
        background-color: #14a58c;
        border-radius: 2px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
    } 
}
.services__text{
    text-align: center;
    max-width: 591px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 80px;
}
.services__item-inner{
    display: flex;
    justify-content: space-between;
}
.title{
    margin-top: 55px;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.services__item-img{
    img{
        margin: 0 auto;
    }
}
.services__item-text{
    width: 190px;
}
  